/* Noto Sans */
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 100;
    src: url(./NotoSans/NotoSans-Thin.ttf) format('truetype');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 300;
    src: url(./NotoSans/NotoSans-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: url(./NotoSans/NotoSans-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    src: url(./NotoSans/NotoSans-Medium.ttf) format('truetype');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    src: url(./NotoSans/NotoSans-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 900;
    src: url(./NotoSans/NotoSans-Black.ttf) format('truetype');
}

/* Noto Sans KR */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: url(./NotoSansKR/NotoSansKR-Thin.ttf) format('truetype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url(./NotoSansKR/NotoSansKR-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url(./NotoSansKR/NotoSansKR-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url(./NotoSansKR/NotoSansKR-Medium.ttf) format('truetype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url(./NotoSansKR/NotoSansKR-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    src: url(./NotoSansKR/NotoSansKR-Black.ttf) format('truetype');
}

/* Noto Sans JP */
@font-face {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 100;
    src: url(./NotoSansJP/NotoSansJP-Thin.ttf) format('truetype');
}
@font-face {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 300;
    src: url(./NotoSansJP/NotoSansJP-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 400;
    src: url(./NotoSansJP/NotoSansJP-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 500;
    src: url(./NotoSansJP/NotoSansJP-Medium.ttf) format('truetype');
}
@font-face {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 700;
    src: url(./NotoSansJP/NotoSansJP-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 900;
    src: url(./NotoSansJP/NotoSansJP-Black.ttf) format('truetype');
}

/* Noto Sans SC */
@font-face {
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 300;
    src: url(./NotoSansSC/NotoSansSC-Thin.ttf) format('truetype');
}
@font-face {
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 300;
    src: url(./NotoSansSC/NotoSansSC-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 400;
    src: url(./NotoSansSC/NotoSansSC-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 500;
    src: url(./NotoSansSC/NotoSansSC-Medium.ttf) format('truetype');
}
@font-face {
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 700;
    src: url(./NotoSansSC/NotoSansSC-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 900;
    src: url(./NotoSansSC/NotoSansSC-Black.ttf) format('truetype');
}
